
body{
	background-color: #444;
}
header {
	height: 60px;
	line-height: 60px;
	padding: 0 15px;
	margin-bottom: 5px;
	font-size: 46px;
}
#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}
.navigation {
	width: 290px;
	float: left;
	padding: 5px 15px;
	margin-bottom: 5px;
	font-size: 12px;
	height: 150px;
	line-height: 150px;
}
.content {
	width: 294px; 
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}
.content > *{
	background-color: white;
	border-radius: 10px;
	height: 20px;
	margin: 5px auto: ;
	line-height: 20px;
	width: 90%;
	padding: 5px 15px;
	margin-bottom: 5px;
	font-size: 14px;
}
.content > p{
	background-color: transparent;
}
.sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
	margin-bottom: 5px;
	font-size: 10px;
	height: 150px;
	line-height: 150px;
}
footer {
	clear: both;
	padding: 0 15px;
	height: 60px;
	line-height: 60px;
	font-size: 10px;	
}
header, .navigation, .content, .sidebar, footer {
	background-color: #faa;
	border-radius: 12px;
	text-align: center
}
.content{
	background-color: #ccc;
}
[class$="r"]{
	background-color: #FF00FF;
}
[class*="a"]{
	background-color: #0000ff;
}

/******************
MEDIA QUERIES
*******************/
/* 980px o menos */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	.navigation {
		width: 41%;
		padding: 1% 4%;
	}
	.content {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	.sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
	header, footer {
		padding: 1% 4%;
	}
}
/* 700px o menos */
@media screen and (max-width: 600px) {
	.navigation {
		width: auto;
		float: none;
	}
	.content {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	.sidebar {
		width: auto;
		float: none;
	}
}
/* 480px o menos */
@media screen and (max-width: 480px) {
	header {
		height: auto;
	}
	.navigation {
		display: none;
	}
	.sidebar {
		display: none;
	}
}