*{
	text-align: center;
}
#pagewrap{
	margin: 0 auto;
	padding: 10px;
	}
.hello{
	background-color: #ECC3A6;
	width: 350px;
	height: 200px;
	margin: 5px auto;
	padding: 15px;	
	opacity: 0;
	font-size: 1.5em;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.joke{
	font-size: 2em;
}