section {
    height: 8rem;
    color: ghostwhite;
    background-color: #666;
    font-size: 1.2em;
    opacity: 0;
    text-align: left;
}

.container {
    width: 70%;
    margin: 2em auto; 
    text-align: center;   
}

.container button {
    margin: 1rem auto;
}

.fadein {
    opacity: 1;
    -webkit-transition: all .9s ease-in;
    -moz-transition: all .9s ease-in;
    transition: all .9s ease-in;
}

.red-alert {
    border: 1px dotted darkred;
    background-color: lightpink;
    color: darkred;
}

#content-section {
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    min-height: 8rem; 
    border: 1px solid #31708f;
    color: #31708f;
    background-color: #d9edf7;
    text-align: left;
}

#content-section li {
    margin-left: 1rem;
    
}

.the-form {
    vertical-align: top;
    display: inline-block;
    width: 40rem;
}